//- Поле формы
div(class='js-field edit-row')

    div(class='edit-row-content')
        div(class='edit-row-title')
            label
                |#{options.label} 
            p(class='form-error js-field-error')
                |#{messages.error}
            p(class='form-message js-field-message')
                |#{messages.message} 
        
        div(class='edit-row-data')
            input(type=options.type name=options.name id=options.id placeholder=options.placeholder value=options.value)    

          
        